<%= render 'menu_list' %>

<div class="page-wrap">

  <header class="main-header">
    <%= link_to '', '#main-nav', class: 'open-menu menu-icon' %>
    <%= link_to '', '#', class: 'close-menu menu-icon' %>
    <%= link_to '', new_user_registration_path, class: 'login-icon' %>
  </header>

  <div class="content">

    <div>Content</div>

  </div>

</div>