  <div class="content">
    <div id="P2" class="player video-container" data-property="{videoURL:'V6_85cSOIcE',containment:'#P2',autoPlay:true, mute:true, startAt:0, opacity:1}"></div>

    <div id="b3">
        <%= link_to 'Побежали !', create_run_path, id:'runButton', class: 'btn btn-primary btn-lg', method: :post %>
    </div>
  </div>


  <script type="text/javascript" charset="utf-8">
  $(function(){
    $(".player").YTPlayer();
  });
</script>
