<div class="calendar"></div>
<div class="input-append bootstrap-timepicker">
  <input id="timepicker1" type="text" class="input-small">
  <span class="add-on"><i class="icon-time"></i></span>
</div>
<script type="text/javascript" charset="utf-8">
  $('.calendar').fullCalendar({
    dayClick: function(date, jsEvent, view) {

      $(this).css('background-color', 'red');

    }
  })
  $('#timepicker1').timepicker();
</script>