<%= render 'menu_list' %>
<%= image_tag 'runner.png' %>
<div>
  <%= link_to 'Выбрать готовый маршрут', '#', class: 'run-button' %>
  <%= link_to 'Построить маршрут', '#', class: 'run-button' %>
</div>