<ul class="main-nav" id="main-nav">
  <li><a href="#">This</a></li>
  <li><a href="#">Little</a></li>
  <li><a href="#">Piggy</a></li>
  <li><a href="#">Went</a></li>
  <li><a href="#">To</a></li>
  <li><a href="#">Market</a></li>
</ul>