.entry-link {
  display: inline-block;
  margin: 30px;
  width: 400px;
  height: 400px;
}
.entry-form {
  display: inline-block;
}
.signin-link {
  background-image: url('login_icon_large.png');
}
.signup-link {
  background-image: url('registration_icon_large.png');
}