
#entryBlock {
  position: relative;
  width: 900px;
  height: 400px;
  display: block;
  margin: 10% 23%;
  position: relative;
}

#signin, #signup {
  display: block;
  width: 400px;
  height: 400px;
  float: left;
}

.signin-link {
  background-image: url('registration_icon_large.png');
  outline: 0px solid black;
}
.signup-link {
  background-image: url('login_icon_large.png');
  outline: 0px solid black;
  margin-left: 100px;
}


.modal.fade {
  top: -100%;
}

#forgot-pass{
  display: block;
  margin-left: 220px;
  margin-top: -28px;
}

#fb-signin{
  display: block;
  margin-left: 220px;
  margin-top: -97px;
  padding-bottom: 100px;
}