// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;

  background: asset_url('bg.jpg') no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &.where {
    background: asset_url('background_where.jpg') no-repeat top center fixed;
  }

  &.entry {
    background: asset_url('background_entry.jpg') no-repeat bottom center fixed;
  }
}
* {
  box-sizing: border-box;
}

html, body, .page-wrap {
  height: 100%;
  overflow: hidden;
  outline: 1px solid red;
}
a { text-decoration: none; }



.main-header {
  color: black;
  width: 100%;
  z-index: 2;
  a {
    width: 80px;
    height: 80px;
    &.open-close-menu {
      float: left;
      margin-left: 20px;
      background-image: asset_url('menu_icon.png');
    }
    &.login-icon {
      float: right;
      margin-right: 20px;
      background-image: asset_url('login_icon.png');
    }
  }
}

.main-nav {
  display: none;
  width: 280px;
  height: 100vh;
  background-color: #808080;
  float: left;
  list-style-type: none;
  margin-top: -10px;
  margin-left: auto;
  padding: 15px 0 0 30px;
}

.content {
  width: 80%;
  margin: 10%;
  text-align: center;
  }

.player {
  width: 50%;
  min-height: 395px;
  display: block;
  float: left;
}

.goForward {
  float: right;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 80px!important;
  height: 60px;
  background-image: url('foot_right.png');
  background-size: 80px 60px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.goBack {
  float: left;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 80px;
  height: 60px;
  background-image: url('foot_left.png');
  background-size: 80px 60px;
  background-repeat: no-repeat
}

.buttons {
  bottom: 10px;
  height: 60px;
  outline: 1px solid red;
}

#b3 {
  width: 100%;
//  margin-top: 20%;
}

#runButton {
margin-top: 13%;
  padding: 30px 50px;
  font: bold 200% "Helvetica Neue",Helvetica,Tahoma, Arial,sans-serif;
}
//  .page-wrap {
//      position: relative;
//  }

.no-display {
  display: none;
}

.clear {
  clear: both;
}