// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  background: asset_url('bg.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
  overflow-x: scroll;
  &.where {
    background: asset_url('background_where.jpg') no-repeat top center fixed;
  }
}
* {
  box-sizing: border-box;
}

html, body, .page-wrap
  { min-height: 100%;

  }
a { text-decoration: none; }



.main-header {
  color: black;
  width: 100%;
  z-index: 2;
  a {
    width: 80px;
    height: 80px;
    &.open-close-menu {
      float: left;
      margin-left: 20px;
      background-image: asset_url('menu_icon.png');
    }
    &.login-icon {
      float: right;
      margin-right: 20px;
      background-image: asset_url('login_icon.png');
    }
  }
}

.main-nav {
  display: none;
  width: 280px;
  height: 100vh;
  background-color: #808080;
  float: left;
  list-style-type: none;
  margin-top: -10px;
  margin-left: auto;
  padding: 15px 0 0 30px;
}

.content {
  width: 100%;
  margin: 0;
  text-align: center;
  float: center;
}
.player {
  width: 50%;
  min-height: 395px;
  display: block;
  float: left;
}

.where-button {
  vertical-align: center;
  float: left;
  margin-left: 15%;
  margin-top: -20px;
  overflow: auto;
//  position: static;
}

.goForward {
  float: right;
  a {
    width: auto;
    height: auto;
    bg-image: asset url ('foot_right.png');
  }
}

.page-wrap {
  position: relative;
}