.xdsoft_datetimepicker {
  margin-left: 18%;
  margin-top: 5%;
  width: 60%;
  height: 600px;
  opacity: 0.6;
  color: #111111;
  font-size: 120%;

  .xdsoft_datepicker {
    width: 80% !important;
    height: 95% !important;
    .xdsoft_calendar {
      position: relative;
      height: 101% !important;
      padding-top: 10px;
      table {
        height: 95% !important;
      }
    }
  }
  .xdsoft_timepicker {
    width: 18% !important;
    padding-top: 10px;
    height: 95% !important;
    .xdsoft_time_box {
      position: relative;
      height: 95% !important;
      }
   }
  }

