//td, th
td {
  font-size: 20px !important;
  color: #000000;
}

.xdsoft_datetimepicker {
  margin-left: 18%;
  margin-top: 5%;
  width: 850px;
  height: 600px;
  opacity: 0.6;

  .xdsoft_datepicker {
    width: 80% !important;
    height: 95% !important;
    .xdsoft_calendar {
      position: relative;
      height: 101% !important;
      padding-top: 10px;
      table {
        height: 95% !important;
      }
    }
  }
  .xdsoft_timepicker {
    width: 18% !important;
    padding-top: 10px;
    height: 95% !important;
    .xdsoft_time_box {
      position: relative;
      height: 95% !important;
      }
   }
  }

