.map-bloc {
//  position: absolute;
    width: 800px;
//    margin-left: 100%;
//    margin-top: -60%;
  #directions {
    width: 800px;
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
    .map-bloc {
      width: 400px;
      #directions {
        width: 400px;
        height: 200px;
      }
    }
}

#selectRout {
//  position: relative;
  width: 500px;
  top: 10px;
  margin: 10px auto;
}

#runner {
//  display: ;
  position: relative;
  margin-top: 15%;
}